* {
  margin:0;
  padding:0;
  list-style:none;
  box-sizing:border-box;
  -webkit-overflow-scrolling:touch;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}
body {
  line-height:1.5;
  font-family:arial,"\5b8b\4f53";
  background:#fff;
  font-size:12px;
}
ul {
  list-style:none;
}
img {
  border:0;
}
a {
  text-decoration:none;
}
.clear,.clearfix:after {
  clear:both;
  height:0;
  overflow:hidden;
  display:block;
}
.clearfix:after {
  visibility:hidden;
  content:".";
}
.clearfix {
  *zoom:1;
}
.hidden {
  display:none;
}

.world_cup_layer {
   display:none;
  overflow:hidden;
  position:relative;
}
.world_cup_layer .guide {
  /*display: none;*/
  position:absolute;
  top:0;
  z-index:10;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}
.world_cup_layer .guide img {
  position:absolute;
  top:-100px;
}
.world_cup_layer .guide .guide_img {
  width:457px;
  height:734px;
  background:url(images/jc.gif) no-repeat;
  position:absolute;
  left:138px;
  top:87px;
}
.category {
  position:absolute;
  bottom:0;
}
.category .category_bar {
  width:750px;
  height:100px;
}
.category .category_bar .scroll_bg {
  width:750px;
  height:100px;
  bottom:0;
  position:absolute;
  background:#282630;
}
.category .category_bar .scroll_bar {
  position:absolute;
  bottom:0;
  width:750px;
  height:115px;
  overflow-x:scroll;
  font-size:0;
}
.category .category_bar .scroll_bar ul {
  display:table;
  height:100px;
  width:800px;
  margin-top: 15px;
  background:#282630;
  position: relative;
  z-index: 2;
}
.category .category_bar .scroll_bar .black_arrow {
  width:100px;
  height:15px;
  background:url(images/icons/black_icon2.png) no-repeat center;
  position:absolute;
  left:0;
  bottom: 93px;
  z-index: 100;
  transition:all linear .2s;
  -webkit-transition:all linear .2s;
  z-index: 1;
}
.category .category_bar .scroll_bar li {
  z-index:1;
  width:100px;
  height:100%;
  float:left;
  position:relative;
  transition:all linear .2s;
  -webkit-transition:all linear .2s;
}
.category .category_bar .scroll_bar li .icon {
  width:52px;
  height:80px;
  border-radius:10px;
  background: url(images/icons/icon1.png) center no-repeat;
  position:absolute;
  left:24px;
  top:10px;
  transition:all linear .2s;
  -webkit-transition:all linear .2s;
}
.category .category_bar .scroll_bar li:nth-child(2) .icon {
  background-image:url(images/icons/icon2.png);
}
.category .category_bar .scroll_bar li:nth-child(3) .icon {
  background-image:url(images/icons/icon3.png);
}
.category .category_bar .scroll_bar li:nth-child(4) .icon {
  background-image:url(images/icons/icon4.png);
}
.category .category_bar .scroll_bar li:nth-child(5) .icon {
  background-image:url(images/icons/icon5.png);
}
.category .category_bar .scroll_bar li:nth-child(6) .icon {
  background-image:url(images/icons/icon6.png);
}
.category .category_bar .scroll_bar li:nth-child(7) .icon {
  background-image:url(images/icons/icon7.png);
}
.category .category_bar .scroll_bar li:nth-child(8) .icon {
  background-image:url(images/icons/icon8.png);
}
.category .category_bar .scroll_bar li::after {
  content:"";
  width:1px;
  height:50px;
  background:#555;
  position:absolute;
  right:0;
  top:26px;
}
.category .category_bar .scroll_bar li:nth-child(1).selected .icon {
  background-image:url(images/icons/icon1a.png);
}
.category .category_bar .scroll_bar li:nth-child(2).selected .icon {
  background-image:url(images/icons/icon2a.png);
}
.category .category_bar .scroll_bar li:nth-child(3).selected .icon {
  background-image:url(images/icons/icon3a.png);
}
.category .category_bar .scroll_bar li:nth-child(4).selected .icon {
  background-image:url(images/icons/icon4a.png);
}
.category .category_bar .scroll_bar li:nth-child(5).selected .icon {
  background-image:url(images/icons/icon5a.png);
}
.category .category_bar .scroll_bar li:nth-child(6).selected .icon {
  background-image:url(images/icons/icon6a.png);
}
.category .category_bar .scroll_bar li:nth-child(7).selected .icon {
  background-image:url(images/icons/icon7a.png);
}
.category .category_bar .scroll_bar li:nth-child(8).selected .icon {
  background-image:url(images/icons/icon8a.png);
}
.category .category_main {
  position:absolute;
  width:750px;
  height:191px;
  bottom:100px;
  transition:all linear .3s;
  -webkit-transition:all linear .3s;
}
.category .category_main .arrow_box {
  width:69px;
  height:43px;
  background:rgba(0,0,0,0.9);
  position:absolute;
  right:26px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.category .category_main .arrow_box .arrow {
  width:30px;
  height:18px;
  background:url(images/icons/arrow.png) no-repeat;
  position:absolute;
  top:17px;
  left:20px;
  transform-origin:50% 6px;
  -webkit-transform-origin:50% 6px;
  transition:all linear .3s;
  -webkit-transition:all linear .3s;
}
.category .category_main .category_container {
  opacity:1;
  width:750px;
  height:148px;
  top:43px;
  position:absolute;
  background:rgba(0,0,0,0.55);
  border-top-left-radius:50px;
  transition:all linear .3s;
  -webkit-transition:all linear .3s;
}
.category .category_main .save {
  display:none;
  width:74px;
  height:74px;
  background:url(images/icons/save.png) no-repeat;
  position:absolute;
  top:-128px;
  right:25px;
}
.category .category_main.close {
  height:43px;
}
.category .category_main.close .arrow_box .arrow {
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
}
.category .category_main.close .category_container {
  opacity:0;
}
/* .category.iphoneX .category_main {
  bottom:120px;
}
.category.iphoneX .category_bar {
  height:129px;
}
.category.iphoneX .category_bar .scroll_bg {
  height:120px;
}
.category.iphoneX .category_bar .scroll_bar {
  bottom:50px;
} */
.result_img {
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  z-index:10;
}
.result_img .saved_guide {
  display:none;
  width:750px;
  height:160px;
  position:absolute;
  background:url(images/save_tip.jpg) no-repeat;
  bottom:0;
}
.saved_img {
  display:none;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  opacity:0;
  z-index:1000;
}
.category_box {
  width:100%;
  height:100%;
}
.category_box .category_item {
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  overflow-x:scroll;
}
.category_box .people .category_guide {
  width:254px;
  height:48px;
  background:url(images/category_guide.png) top right no-repeat;
  position:absolute;
  top:50px;
  left:370px;
  z-index:10;
}
.category_box .people .category_guide .guide_arrow {
  width:32px;
  height:40px;
  background:url(images/guide_arrow.png) no-repeat;
  position:absolute;
  top:3px;
  left:0;
  -webkit-animation-origin:50% 50%;
  animation:guide_arrow 1s linear infinite;
  -webkit-animation:guide_arrow 1s linear infinite;
}
.category_box .people .category_people {
  width:430px;
  height:100%;
  margin-left:40px;
}
.category_box .people .category_people li {
  width:130px;
  height:100%;
  float:left;
  position:relative;
}
.category_box .people .category_people li .item_bg {
  position:absolute;
  bottom:26px;
  width:100%;
  height:100px;
  background:url(images/select/people/man.png) center bottom no-repeat;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .people .category_people li .li_line {
  width:50px;
  position:absolute;
  bottom:16px;
  left:37.5px;
  padding:0 5px 5px;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .people .category_people li:nth-child(2) .item_bg {
  background-image:url(images/select/people/woman.png);
}
.category_box .people .category_people li.active .item_bg {
  bottom:30px;
}
.category_box .people .category_people li.active .li_line {
  border-bottom:4px solid #ff216c;
}
.category_box .facingTo {
  display:none;
}
.category_box .man_facingTo,.category_box .woman_facingTo {
  width:700px;
  height:100%;
  margin-left:40px;
}
.category_box .man_facingTo li,.category_box .woman_facingTo li {
  width:130px;
  height:100%;
  float:left;
  position:relative;
}
.category_box .man_facingTo li .item_bg,.category_box .woman_facingTo li .item_bg {
  width:100%;
  height:100%;
  background:url(images/select/facingto/man.png) center 10px no-repeat;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .man_facingTo li .item_text,.category_box .woman_facingTo li .item_text {
  font-size:20px;
  color:#d4d4d4;
  line-height:20px;
  position:absolute;
  bottom:9px;
  left:37.5px;
  padding:0 5px 5px;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .man_facingTo li.active .item_bg,.category_box .woman_facingTo li.active .item_bg {
  background-position:center 3px;
}
.category_box .man_facingTo li.active .item_text,.category_box .woman_facingTo li.active .item_text {
  border-bottom:4px solid #ff216c;
}
.category_box .man_facingTo {
  display:none;
}
.category_box .man_facingTo li:nth-child(2) .item_bg {
  background-image:url(images/select/facingto/man_left.png);
}
.category_box .man_facingTo li:nth-child(3) .item_bg {
  background-image:url(images/select/facingto/man_right.png);
}
.category_box .man_facingTo li:nth-child(4) .item_bg {
  background-image:url(images/select/facingto/man_back.png);
}
.category_box .woman_facingTo {
  display:none;
}
.category_box .woman_facingTo li:nth-child(1) .item_bg {
  background-image:url(images/select/facingto/woman.png);
}
.category_box .woman_facingTo li:nth-child(2) .item_bg {
  background-image:url(images/select/facingto/woman_left.png);
}
.category_box .woman_facingTo li:nth-child(3) .item_bg {
  background-image:url(images/select/facingto/woman_right.png);
}
.category_box .woman_facingTo li:nth-child(4) .item_bg {
  background-image:url(images/select/facingto/woman_back.png);
}
.category_box .cloth {
  display:none;
}
.category_box .man_cloth,.category_box .woman_cloth {
  width:680px;
  height:100%;
  margin-left:40px;
  position:absolute;
  top:0;
}
.category_box .man_cloth li,.category_box .woman_cloth li {
  width:130px;
  height:100%;
  float:left;
  position:relative;
}
.category_box .man_cloth li .item_bg,.category_box .woman_cloth li .item_bg {
  width:100%;
  height:100%;
  background:url(images/select/cloth/man-1.png) center 10px no-repeat;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .man_cloth li .item_text,.category_box .woman_cloth li .item_text {
  width:50px;
  line-height:20px;
  position:absolute;
  bottom:9px;
  left:37.5px;
  padding:0 5px 5px;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .man_cloth li.active .item_bg,.category_box .woman_cloth li.active .item_bg {
  background-position:center 3px;
}
.category_box .man_cloth li.active .item_text,.category_box .woman_cloth li.active .item_text {
  border-bottom:4px solid #ff216c;
}
.category_box .man_cloth {
  display:none;
}
.category_box .man_cloth li:nth-child(2) .item_bg {
  background-image:url(images/select/cloth/man-2.png);
}
.category_box .man_cloth li:nth-child(3) .item_bg {
  background-image:url(images/select/cloth/man-3.png);
}
.category_box .man_cloth li:nth-child(4) .item_bg {
  background-image:url(images/select/cloth/man-4.png);
}
.category_box .man_cloth li:nth-child(5) .item_bg {
  background-image:url(images/select/cloth/man-5.png);
}
.category_box .woman_cloth {
  display:none;
}
.category_box .woman_cloth li:nth-child(1) .item_bg {
  background-image:url(images/select/cloth/woman-1.png);
}
.category_box .woman_cloth li:nth-child(2) .item_bg {
  background-image:url(images/select/cloth/woman-2.png);
}
.category_box .woman_cloth li:nth-child(3) .item_bg {
  background-image:url(images/select/cloth/woman-3.png);
}
.category_box .woman_cloth li:nth-child(4) .item_bg {
  background-image:url(images/select/cloth/woman-4.png);
}
.category_box .woman_cloth li:nth-child(5) .item_bg {
  background-image:url(images/select/cloth/woman-5.png);
}
.category_box .face {
  display:none;
}
.category_box .face .man_face, .category_box .face .woman_face {
  width:840px;
  height:100%;
  margin-left:40px;
}
.category_box .face .man_face li, .category_box .face .woman_face li {
  width:130px;
  height:100%;
  float:left;
  position:relative;
}
.category_box .face .man_face li .item_bg, .category_box .face .woman_face li .item_bg {
  width:100%;
  height:100%;
  background:url(images/select/face/man/1.png) 32.5px 35px no-repeat;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .face .man_face li .item_text, .category_box .face .woman_face li .item_text {
  width:50px;
  line-height:20px;
  position:absolute;
  bottom:9px;
  left:37.5px;
  padding:0 5px 5px;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .face .man_face li.active .item_bg, .category_box .face .woman_face li.active .item_bg {
  background-position:32.5px 25px;
}
.category_box .face .man_face li.active .item_text, .category_box .face .woman_face li.active .item_text {
  border-bottom:4px solid #ff216c;
}
.category_box .face .man_face li:nth-child(2) .item_bg {
  background-image:url(images/select/face/man/2.png);
}
.category_box .face .man_face li:nth-child(3) .item_bg {
  background-image:url(images/select/face/man/3.png);
}
.category_box .face .man_face li:nth-child(4) .item_bg {
  background-image:url(images/select/face/man/4.png);
}
.category_box .face .man_face li:nth-child(5) .item_bg {
  background-image:url(images/select/face/man/5.png);
}
.category_box .face .man_face li:nth-child(6) .item_bg {
  background-image:url(images/select/face/man/6.png);
}
.category_box .face .woman_face {
  display:none;
}
.category_box .face .woman_face li:nth-child(1) .item_bg {
  background-image:url(images/select/face/woman/1.png);
}
.category_box .face .woman_face li:nth-child(2) .item_bg {
  background-image:url(images/select/face/woman/2.png);
}
.category_box .face .woman_face li:nth-child(3) .item_bg {
  /* bottom:29px; */
  background-image:url(images/select/face/woman/3.png);
}
.category_box .face .woman_face li:nth-child(4) .item_bg {
  /* bottom:29px; */
  background-image:url(images/select/face/woman/4.png);
}
.category_box .face .woman_face li:nth-child(5) .item_bg {
  /* bottom:29px; */
  background-image:url(images/select/face/woman/5.png);
}
.category_box .face .woman_face li:nth-child(6) .item_bg {
  /* bottom:29px; */
  background-image:url(images/select/face/woman/6.png);
}
/* .category_box .face .woman_face li:nth-child(3).active .item_bg {
  bottom:39px;
} */
.category_box .hair {
  display:none;
}
.category_box .hair .man_hair,.category_box .hair .woman_hair {
  width:700px;
  height:100%;
  margin-left:40px;
}
.category_box .hair .man_hair li,.category_box .hair .woman_hair li {
  width:130px;
  height:100%;
  float:left;
  position:relative;
}
.category_box .hair .man_hair li .item_bg,.category_box .hair .woman_hair li .item_bg {
  position:absolute;
  bottom:35px;
  width:100%;
  height:103px;
  background:url(images/select/hair/man/hair1.png) center bottom no-repeat;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .hair .man_hair li .item_text,.category_box .hair .woman_hair li .item_text {
  width:50px;
  line-height:20px;
  position:absolute;
  bottom:9px;
  left:37.5px;
  padding:0 5px 5px;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .hair .man_hair li.active .item_bg,.category_box .hair .woman_hair li.active .item_bg {
  bottom:45px;
}
.category_box .hair .man_hair li.active .item_text,.category_box .hair .woman_hair li.active .item_text {
  border-bottom:4px solid #ff216c;
}
.category_box .hair .man_hair {
  display:none;
}
.category_box .hair .man_hair li:nth-child(2) .item_bg {
  background-image:url(images/select/hair/man/hair2.png);
}
.category_box .hair .man_hair li:nth-child(3) .item_bg {
  background-image:url(images/select/hair/man/hair3.png);
}
.category_box .hair .man_hair li:nth-child(4) .item_bg {
  background-image:url(images/select/hair/man/hair4.png);
}
.category_box .hair .man_hair li:nth-child(5) .item_bg {
  background-image:url(images/select/hair/man/hair5.png);
}
.category_box .hair .woman_hair {
  display:none;
}
.category_box .hair .woman_hair li:nth-child(1) .item_bg {
  background-image:url(images/select/hair/woman/hair1.png);
}
.category_box .hair .woman_hair li:nth-child(2) .item_bg {
  background-image:url(images/select/hair/woman/hair2.png);
}
.category_box .hair .woman_hair li:nth-child(3) .item_bg {
  bottom:29px;
  background-image:url(images/select/hair/woman/hair3.png);
}
/* .category_box .hair .woman_hair li:nth-child(3).active .item_bg {
  bottom:39px;
} */
.category_box .hair .woman_hair li:nth-child(4) .item_bg {
  background-image:url(images/select/hair/woman/hair4.png);
}
.category_box .hair .woman_hair li:nth-child(5) .item_bg {
  background-image:url(images/select/hair/woman/hair5.png);
}
.category_box .room {
  display:none;
}
.category_box .room ul {
  width:690px;
  height:100%;
  margin-left:40px;
}
.category_box .room ul li {
  width:130px;
  height:100%;
  float:left;
  position:relative;
}
.category_box .room ul li .item_bg {
  position:absolute;
  width:100%;
  height:100%;
  background:url(images/select/room/room1.png) center 34px no-repeat;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .room ul li .item_text {
  width:50px;
  line-height:20px;
  position:absolute;
  bottom:9px;
  left:37.5px;
  padding:0 5px 5px;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .room ul li.active .item_bg {
  background-position:center 24px;
}
.category_box .room ul li.active .item_text {
  border-bottom:4px solid #ff216c;
}
.category_box .room ul li:nth-child(2) .item_bg {
  background-image:url(images/select/room/room2.png);
}
.category_box .room ul li:nth-child(3) .item_bg {
  background-image:url(images/select/room/room3.png);
}
.category_box .others {
  display:none;
}
.category_box .others ul {
  width:3680px;
  height:100%;
  margin-left:40px;
}
.category_box .others ul li {
  width:130px;
  height:100%;
  float:left;
  position:relative;
}
.category_box .others ul li .item_bg {
  position:absolute;
  width:100%;
  bottom:0;
  height:138px;
  background:url(images/select/others/0-0.png) center center no-repeat;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .others ul li .item_text {
  width:50px;
  position:absolute;
  bottom:9px;
  left:37.5px;
  padding:0 5px 5px;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .others ul li.active .item_bg {
  bottom:10px;
}
.category_box .others ul li.active .item_text {
  border-bottom:4px solid #ff216c;
}
.category_box .others ul li:nth-child(2) .item_bg {
  background-image:url(images/select/others/0-1.png);
}
.category_box .others ul li:nth-child(3) .item_bg {
  background-image:url(images/select/others/0-2.png);
}
.category_box .others ul li:nth-child(4) .item_bg {
  background-image:url(images/select/others/1-0.png);
}
.category_box .others ul li:nth-child(5) .item_bg {
  background-image:url(images/select/others/1-1.png);
}
.category_box .others ul li:nth-child(6) .item_bg {
  background-image:url(images/select/others/1-3.png);
}
.category_box .others ul li:nth-child(7) .item_bg {
  background-image:url(images/select/others/2-0.png);
}
.category_box .others ul li:nth-child(8) .item_bg {
  background-image:url(images/select/others/2-1.png);
}
.category_box .others ul li:nth-child(9) .item_bg {
  background-image:url(images/select/others/2-2.png);
}
.category_box .others ul li:nth-child(10) .item_bg {
  background-image:url(images/select/others/2-3.png);
}
.category_box .others ul li:nth-child(11) .item_bg {
  background-image:url(images/select/others/3-0.png);
}
.category_box .others ul li:nth-child(12) .item_bg {
  background-image:url(images/select/others/3-1.png);
}
.category_box .others ul li:nth-child(13) .item_bg {
  background-image:url(images/select/others/3-2.png);
}
.category_box .others ul li:nth-child(14) .item_bg {
  background-image:url(images/select/others/3-3.png);
}
.category_box .others ul li:nth-child(15) .item_bg {
  background-image:url(images/select/others/3-4.png);
}
.category_box .others ul li:nth-child(16) .item_bg {
  background-image:url(images/select/others/3-5.png);
}

.category_box .flag {
  display:none;
}
.category_box .flag ul {
  width:1320px;
  height:100%;
  margin-left:40px;
}
.category_box .flag ul li {
  width:130px;
  height:100%;
  float:left;
  position:relative;
}
.category_box .flag ul li .item_bg {
  position:absolute;
  width:90%;
  bottom:2px;
  height:130px;
  background:url(images/select/flag/flag1.png) center center no-repeat;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .flag ul li .item_text {
  width:50px;
  position:absolute;
  bottom:9px;
  left:35px;
  padding:0 5px 5px;
  transition:all linear .1s;
  -webkit-transition:all linear .1s;
}
.category_box .flag ul li.active .item_bg {
  bottom:10px;
}
.category_box .flag ul li.active .item_text {
  border-bottom:4px solid #ff216c;
}
.category_box .flag ul li:nth-child(2) .item_bg {
  background-image:url(images/select/flag/flag2.png);
}
.category_box .flag ul li:nth-child(3) .item_bg {
  background-image:url(images/select/flag/flag3.png);
}
.category_box .flag ul li:nth-child(4) .item_bg {
  background-image:url(images/select/flag/flag4.png);
}
.category_box .flag ul li:nth-child(5) .item_bg {
  background-image:url(images/select/flag/flag5.png);
}
.category_box .flag ul li:nth-child(6) .item_bg {
  background-image:url(images/select/flag/flag6.png);
}
.category_box .flag ul li:nth-child(7) .item_bg {
  background-image:url(images/select/flag/flag7.png);
}
.category_box .flag ul li:nth-child(8) .item_bg {
  background-image:url(images/select/flag/flag8.png);
}
.category_box .flag ul li:nth-child(9) .item_bg {
  background-image:url(images/select/flag/flag9.png);
}
.category_box .flag ul li:nth-child(10) .item_bg {
  background-image:url(images/select/flag/flag10.png);
}
.welcome_layer {
  /*display: none;*/
  width:100%;
  height:100%;
  background:#fff;
  position:absolute;
  top:0;
  z-index:100;
}
.welcome_layer .brand {
  position:absolute;
  top:50px;
  left:50px;
  width:317px;
  height:38px;
  background:url(images/brand.png) no-repeat;
}
.welcome_layer .wel_main_wraper {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  bottom: 158px;
}
.welcome_layer .wel_main_wraper .wel_main {
  width: 100%;
  justify-content: space-around;
  display: table;
  position: absolute;
  top: 50%;
  margin-top: -310px;
}
.welcome_layer .wel_main_wraper .wel_main .table-cell {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}
.welcome_layer .wel_main_wraper .slogan {
  width: 160px;
}

.welcome_layer .wel_main_wraper .slogan i {
  display: inline-block;
  width:29px;
  height:278px;
  background:url(images/slogan.png) no-repeat;
}

.welcome_layer .wel_main_wraper .sofa_ball {
  font-size: 0;
  width: 280px;
}

.welcome_layer .wel_main_wraper .sofa_ball img {
  width: 127px;
  height: 258px;
}

/* .welcome_layer .wel_main_wraper .ball {
  width:42px;
  height:42px;
  background:url(images/ball.png) no-repeat;
  margin-left: 48px;
  margin-bottom: 60px;  
}
.welcome_layer .wel_main_wraper .sofa {
  width:137px;
  height:72px;
  background:url(images/sofa.png) no-repeat;
} */

.welcome_layer .wel_main_wraper .text i {
  display: inline-block;
  background:url(images/text.png) no-repeat;
  width:174px;
  height:613px;
}
.welcome_layer .start {
  width:267px;
  height:73px;
  background:url(images/start.png) no-repeat;
  position:absolute;
  left:50%;
  margin-left: -133px;
  bottom:85px;
}

@keyframes icon_bg {
  from {
    transform:scale(0.9,0.9);
  }
  to {
    transform:scale(1,1);
  }
}
@-webkit-keyframes icon_bg {
  from {
    -webkit-transform:scale(0.9,0.9);
  }
  to {
    -webkit-transform:scale(1,1);
  }
}
@keyframes guide_arrow {
  from {
    transform:translate3d(86px,0,0);
  }
  to,80% {
    transform:translate3d(0,0,0);
  }
}
@-webkit-keyframes guide_arrow {
  from {
    -webkit-transform:translate3d(86px,0,0);
  }
  to,80% {
    -webkit-transform:translate3d(0,0,0);
  }
}
